nav ul{
  height: 100%;
  padding: 0;
  margin: 0;
}
nav li{
  display: inline-block;
  height: 100%;
  line-height: 50px;
  border-right: 1px dashed #999;
}

/*nav li::after, nav li a{
  display: inline-block;
  vertical-align: middle;
}
nav li::after{
  content: "";
  height: 100%;
  width: 0;
}*/
nav li a{
  display: block;
  text-decoration: none;
  height: 100%;
  padding: 0 15px;
}

nav li a:hover{
  background: #565656;
  color: #eee;
}